{% extends "base.html" %} {% load static %} {% block content %}

<div>
  <!-- Change Avatar and Profile Information Form -->
  <h3>Change Avatar and Profile Information:</h3>
  <form
    method="post"
    enctype="multipart/form-data"
    action="{% url 'set_avatar' %}"
  >
    {% csrf_token %}
    <!-- Allow users to upload an image file -->
    <input type="file" name="avatar_file" accept="image/*" />

    <!-- Profile Information Fields -->
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio">{{ request.user.profile.bio }}</textarea>

    <label for="website_url">Website URL:</label>
    <input
      type="text"
      id="website_url"
      name="website_url"
      value="{{ request.user.profile.website_url }}"
    />

    <label for="facebook_url">Facebook URL:</label>
    <input
      type="text"
      id="facebook_url"
      name="facebook_url"
      value="{{ request.user.profile.facebook_url }}"
    />

    <label for="twitter_url">Twitter URL:</label>
    <input
      type="text"
      id="twitter_url"
      name="twitter_url"
      value="{{ request.user.profile.twitter_url }}"
    />

    <label for="instagram_url">Instagram URL:</label>
    <input
      type="text"
      id="instagram_url"
      name="instagram_url"
      value="{{ request.user.profile.instagram_url }}"
    />

    <!-- Submit Button -->
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
