.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4a4a4f;
}

.navbar-toggler-icon {
  background-color: #fff;
  padding: 5px;
}

.nav-toggler-item {
  color: white;
}
.stories-input {
  text-align: center;
  color: purple;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.sign-up-pic {
  background-image: url(/static/images/scaryfamily1.jpg);
  color: #fff;
}

.sign-up-txt {
  opacity: 1;
  font-family: "Quattrocento", serif;
  font-weight: 800;
  font-style: normal;
}

.inner-box {
  background-image: url(/static/images/scaryhouse2.jpg);
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

.navbar {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #958e69 74%);
  display: flex;
  justify-content: flex-end;
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.login {
  font-family: "Quattrocento", serif;
  font-weight: 800;
  font-style: normal;
}
h2.main-story-title {
  color: #fff !important;
}

.post-subtitle {
  color: white;
}

.upload-pic-in-story {
  width: 58px;
  height: 58px;
}

.navbar-logo {
  height: 100px;
  width: auto;
}
.full-bg {
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}
#hero-text {
  text-align: center;
  color: purple;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Quattrocento", serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: underline;
}
.text-centre {
  text-align: center;
}

.library {
  background-image: url(/static/images/purple-library.jpg);
  text-align: center;
  color: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
}
.red-o {
  color: #e84610;
}

.form-label {
  opacity: 1;
  color: #f9fafc;
}

.user-share {
  opacity: 1;
}
.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #fff;
}

.dark-bg {
  background-color: #445261;
}

.main-bg {
  background-color: #f9fafc;
}

.card {
  border: none;
  background-color: pink;
}
.card-text-wide {
  margin-top: 20px;
}
.card-body {
  background-image: url("https://res.cloudinary.com/dlzeoq67k/image/upload/v1710884273/fngkuyzvjeie8dexvlv1.jpg");
  color: #fff;
  text-align: right;
  height: 200px;
  border-radius: 10px;
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  opacity: 1;
  font-weight: bold;
}

.scale {
  width: 100%;
  height: auto;
}

.author {
  color: white;
  margin: 4px;
  text-transform: uppercase;
}

.profile_heading {
  color: black;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: auto;
  width: 100%;
  font-family: "Quattrocento", serif;
  font-weight: 800;
  font-style: normal;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
  font-family: "Quattrocento", serif;
  font-weight: 800;
  font-style: normal;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.profile-image {
  width: 75%;
}

.post-link {
  text-decoration: none;
  color: #445261;
}

.post-link:hover,
.page-link {
  color: #e84610;
}

.post-title {
  margin-top: 10%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.card-text-wide {
  font-family: "Quattrocento", serif;
  font-weight: 800;
  font-style: normal;
}
.btn-signup,
.btn-edit {
  background-color: plum;
  color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #fff;
  color: plum;
}

.link {
  color: #23bbbb;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: plum;
  text-decoration: underline;
}

.btn-like {
  color: plum;
  border: none;
  background: transparent;
}

.btn-delete {
  color: plum;
  background: #e84610;
}

.btn-like:hover,
.btn-like:active {
  color: plum;
  background: transparent;
  border: none;
}

.faded {
  color: rgb(172, 175, 175);
}

.approval {
  color: rgb(222, 146, 168);
}

.footer {
  background-image: linear-gradient(315deg, #000000 0%, #958e69 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.masthead-image {
  background-color: plum;
}
