{% extends "base.html" %} {% load static %} {% block content %}

<div class="container login">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="mb-4">Profile Information:</h3>
      <h4>
        "All the details that you write here in your profile will be available
        for other users to look at if you submit a story."
      </h4>
      <!-- Edit Profile Button -->
      <button type="button" class="btn btn-primary mb-3" onclick="editProfile()">Edit Profile</button>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Allow users to upload an image file -->
        <div class="mb-3">
          <label for="profile_picture_upload">Upload Profile Picture:</label>
          {% if request.user.profile.profile_picture_upload %}
          <img
            src="{{ request.user.profile.profile_picture_upload.url }}"
            alt="Profile Picture"
            style="max-width: 100px; max-height: 100px"
          />
          {% endif %}
          <input
            type="file"
            class="form-control rounded-circle"
            id="profile_picture_upload"
            name="profile_picture_upload"
            accept="image/*"
          />
        </div>

        <!-- Profile Information Fields -->
        <div class="mb-3">
          <label for="bio" class="profile_heading">Bio:</label>
          <textarea class="form-control" id="bio" name="bio">
          {{ request.user.profile.bio }}</textarea
          >
        </div>

        <div class="mb-3">
          <label for="website_url" class="profile_heading">Website URL:</label>
          <input
            type="text"
            class="form-control"
            id="website_url"
            name="website_url"
            value="{{ request.user.profile.website_url }}"
          />
        </div>

        <div class="mb-3">
          <label for="facebook_url" class="profile_heading"
            >Facebook URL:</label
          >
          <input
            type="text"
            class="form-control"
            id="facebook_url"
            name="facebook_url"
            value="{{ request.user.profile.facebook_url }}"
          />
        </div>

        <div class="mb-3">
          <label for="twitter_url" class="profile_heading">Twitter URL:</label>
          <input
            type="text"
            class="form-control"
            id="twitter_url"
            name="twitter_url"
            value="{{ request.user.profile.twitter_url }}"
          />
        </div>

        <div class="mb-3">
          <label for="instagram_url" class="profile_heading"
            >Instagram URL:</label
          >
          <input
            type="text"
            class="form-control"
            id="instagram_url"
            name="instagram_url"
            value="{{ request.user.profile.instagram_url }}"
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5 login">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="mb-4">Your Stories:</h3>
      {% if stories %}
      <ul>
        {% for story in stories %}
        <li>{{ story.title }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>You haven't submitted any stories yet.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %} {% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
