{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Change Avatar and Profile Information Form -->

      <h3 class="mb-4">Profile Information:</h3>
      <form
        method="post"
        enctype="multipart/form-data"
        action="{% url 'set_avatar' %}"
      >
        {% csrf_token %}
        <!--Allow users to choose from an Avatar--> 
        <h1> Pick an Avatar</h1>
        <div class="container"> 
          <div class="row">
            <div class="col">
        <input type="radio" id="avatar1" name="avatar_url" value="CLOUDINARY_URL_FOR_AVATAR_1">
        <label for="avatar1">
          <img src="CLOUDINARY_URL_FOR_AVATAR_1" alt="Avatar 1">
        </label>
            
            </div>
                        <div class="col">
        <input type="radio" id="avatar2" name="avatar_url" value="CLOUDINARY_URL_FOR_AVATAR_2">
        <label for="avatar1">
          <img src="CLOUDINARY_URL_FOR_AVATAR_1" alt="Avatar 2">
        </label>
            
            </div>
                        <div class="col">
        <input type="radio" id="avatar1" name="avatar_url" value="CLOUDINARY_URL_FOR_AVATAR_3">
        <label for="avatar3">
          <img src="CLOUDINARY_URL_FOR_AVATAR_1" alt="Avatar 3">
        </label>
            
            </div>
                        <div class="col">
        <input type="radio" id="avatar4" name="avatar_url" value="CLOUDINARY_URL_FOR_AVATAR_4">
        <label for="avatar4">
          <img src="CLOUDINARY_URL_FOR_AVATAR_1" alt="Avatar 4">
        </label>
            
            </div>
                        <div class="col">
        <input type="radio" id="avatar5" name="avatar_url" value="CLOUDINARY_URL_FOR_AVATAR_5">
        <label for="avatar5">
          <img src="CLOUDINARY_URL_FOR_AVATAR_1" alt="Avatar 5">
        </label>
            
            </div>
                        <div class="col">
        <input type="radio" id="avatar6" name="avatar_url" value="CLOUDINARY_URL_FOR_AVATAR_6">
        <label for="avatar5">
          <img src="CLOUDINARY_URL_FOR_AVATAR_6" alt="Avatar 6">
        </label>
            
            </div>

          </div>
        </div>

        </div>
        <!-- Allow users to upload an image file -->
        <div class="mb-3">
          <label for="avatar_file" class="form-label">Or Upload Your Picture:</label>
          <input
            type="file"
            class="form-control"
            id="avatar_file"
            name="avatar_file"
            accept="image/*"
          />
        </div>

        <!-- Profile Information Fields -->
        <div class="mb-3">
          <label for="bio" class="form-label">Bio:</label>
          <textarea class="form-control" id="bio" name="bio">
{{ request.user.profile.bio }}</textarea
          >
        </div>

        <div class="mb-3">
          <label for="website_url" class="form-label">Website URL:</label>
          <input
            type="text"
            class="form-control"
            id="website_url"
            name="website_url"
            value="{{ request.user.profile.website_url }}"
          />
        </div>

        <div class="mb-3">
          <label for="facebook_url" class="form-label">Facebook URL:</label>
          <input
            type="text"
            class="form-control"
            id="facebook_url"
            name="facebook_url"
            value="{{ request.user.profile.facebook_url }}"
          />
        </div>

        <div class="mb-3">
          <label for="twitter_url" class="form-label">Twitter URL:</label>
          <input
            type="text"
            class="form-control"
            id="twitter_url"
            name="twitter_url"
            value="{{ request.user.profile.twitter_url }}"
          />
        </div>

        <div class="mb-3">
          <label for="instagram_url" class="form-label">Instagram URL:</label>
          <input
            type="text"
            class="form-control"
            id="instagram_url"
            name="instagram_url"
            value="{{ request.user.profile.instagram_url }}"
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="mb-4">Your Stories:</h3>
      {% if stories %}
      <ul>
        {% for story in stories %}
        <li>{{ story.title }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>You haven't submitted any stories yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
