body {
  background: linear-gradient(
    180deg,
    #333333,
    #4a4a4f
  ); /* Dark to slightly dark gradient background */
  color: #de92a8; /* Light pinkish text color */
}

.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #de92a8; /* Light pinkish text color */
}

.red-o {
  color: #de92a8; /* Light pinkish color */
}

.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #f9fafc; /* Light gray background */
  color: #de92a8; /* Light pinkish text color */
}

.dark-bg {
  background-color: #445261; /* Dark gray background */
  color: #fff; /* White text */
}

.card {
  border: none;
  background-color: #fff; /* White background */
  color: #445261; /* Dark gray text */
}

.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #188181; /* Teal background */
  color: #fff; /* White text */
}

.scale {
  width: 100%;
  height: auto;
}

.author {
  color: #fff; /* White text */
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #de92a8; /* Light pink background */
  color: #fff; /* White text */
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261; /* Dark gray background */
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.profile-image {
  width: 75%;
}

.post-link {
  text-decoration: none;
  color: #445261; /* Dark gray text */
}

.post-link:hover,
.page-link {
  color: #de92a8; /* Light pinkish color */
}

.post-title {
  margin-top: 10%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.btn-signup,
.btn-edit {
  background-color: purple;
  color: #fff; /* White text */
}

.btn-signup:hover,
.btn-edit:hover,
.btn-signup:active,
.btn-edit:active {
  background-color: #23bbbb; /* Light teal */
  color: #fff; /* White text */
}

.link {
  color: #23bbbb; /* Light teal */
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #445261; /* Dark gray text */
  text-decoration: underline;
}

.btn-like {
  color: #de92a8; /* Light pinkish color */
  border: none;
  background: transparent;
}

.btn-delete {
  color: #fff; /* White text */
  background: #de92a8; /* Light pinkish color */
}

.btn-like:hover,
.btn-like:active {
  color: #de92a8; /* Light pinkish color */
  background: transparent;
  border: none;
}

.faded {
  color: #acb1af; /* Light gray */
}

.approval {
  color: #de92a8; /* Light pink */
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #de92a8; /* Light pink background */
  color: #fff; /* White text */
}
