{% extends "base.html" %} {% load static %} {% block content %}

<!-- stories.html content starts here -->
<div class="container-fluid">
  <div class="row">
    <!-- stories Entries Column -->
    <div class="col-12 mt-3 left">
      <div class="row">
        {% for story in stories.list %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <div class="image-container">
                {% if "placeholder" in story.featured_image.url %}
                <img
                  class="card-img-top"
                  src="{% static 'images/default.jpg' %}"
                  alt="placeholder image"
                />
                {% else %}
                <img
                  class="card-img-top"
                  src=" {{ story.featured_image.url }}"
                  alt="{{ story.title }}"
                />
                {% endif %}
                <div class="image-flash">
                  <p class="author">Author: {{ story.author }}</p>
                </div>
              </div>
              <a href="{% url 'story.list' story.slug %}" class="post-link">
                <h2 class="card-title">{{ story.title }}</h2>
              </a>
              <hr />
              <p class="card-text text-muted h6">{{ story.created_on}}</p>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">
          NEXT &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>

<div class="hero-box text-centre">
  <div class="hero-box-outline-white">
    <div class="inner-box">
      <div class="inner-inner-box">
        <div class="hero-text">
          <h1 id="hero-text">Welcome To Braydons Horror House.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-centre stories-input">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="django-text">
        <h1 id="hero-text">Stories.</h1>
        <p>Tales from my library, share your own!</p>
      </div>
    </div>
  </div>
</div>
<div class="container library">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="user-share">Share Your Story</h2>
      <form method="post" action="{% url 'submit_story' %}">
        {% csrf_token %}
        <!-- genre dropdown form -->
        <div class="mb-3">
          <label for="genre" class="form-label">Genre:</label>
          <select name="genre" id="genre" class="form-select">
            {% for key, value in genre_form.fields.genre.choices %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="storyTitle" class="form-label">Title:</label>
          <input
            type="text"
            class="form-control"
            id="storyTitle"
            name="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="storyContent" class="form-label">Your Story:</label>
          <textarea
            class="form-control"
            id="storyContent"
            name="content"
            rows="6"
            required
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="story-container">
  <!-- Dynamic stories from Django -->
  {% for story in stories %}
  <div class="story-item">
    <div class="story-text">
      <h2>{{ story.title }}</h2>
      <p>{{ story.content }}</p>
      <!-- Display author's profile picture -->
      <img
        src="{{ story.author.profile.profile_picture.url }}"
        width="100"
        height="100"
        class="rounded-circle"
        alt="{{ story.author.username }} Profile Picture"
      />
    </div>
    <div class="story-image">
      <!-- Replace 'placeholder_image.jpg' with the actual image URL from your story model -->
      <img src="{{ story.featured_image.url }}" alt="{{ story.title }}" />
      <div class="image-flash">
        {% if "placeholder" in story.featured_image.url %}
        <img
          class="card-img-top"
          src="{% static 'images/default.jpg' %}"
          alt="placeholder image"
        />
        {% else %}
        <img
          class="card-img-top"
          src="{{ story.featured_image.url }}"
          alt="{{ story.title }}"
        />
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
